
    <footer style="border-top: 2px ridge black;">
        <p>Made by Logesh @2024</p>
        <ul class="social_icon">
            <li><a href="https://www.instagram.com/__.lokii__"><img src="/assets/instagram-brands-solid.svg" alt="instagram logo"></a></li>
            <li><a href="https://www.linkedin.com/in/logeshirulappan/"><img src="/assets/linkedin-brands-solid.svg" alt="linkedin logo"></a></li>
            <li><a href="https://github.com/logesh-irulappan/"><img src="/assets/github-brands-solid.svg" alt="github logo"></a></li>
        </ul>
    </footer>

    <script>
    </script>
</body>
</html>